<a href="https://colab.research.google.com/github/juan-paulatino/Airflow/blob/main/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importar datos desde archivos RAW

In [ ]:
%pip install -U pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Collecting pandas
  Downloading pandas-2.3.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (91 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 91.2/91.2 kB 8.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 102.9 MB/s eta 0:00:00
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas==2.2.2, but you have pandas 2.3.1 which is incompatible.
dask-cudf-cu12 25.6.0 requires pandas<2.2.4dev0,>=2.0, but you have pandas 2.3.1 which is incompatible.
cudf-cu12 25.6.0 requires pandas<2.2.4dev0,>=2.0, but you have pandas 2.3.1 which is incompatible.
Successfully installed pandas-2.3.1

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

Analisi de facturación, se detalla el porcentaje de compras via tarjeta de credito, tarjeta de debito, Nequi o cupón.

In [4]:
billing_by_payment_method = all_stores.groupby('Método de pago')['Total Billing'].sum()
total_billing = all_stores['Total Billing'].sum()
billing_percentage = (billing_by_payment_method / total_billing) * 100

print("Billing percentage by payment method:")
display(billing_percentage)

Billing percentage by payment method:

Método de pago
Cupón                  5.357026
Nequi                 19.994814
Tarjeta de crédito    73.365744
Tarjeta de débito      1.282416
Name: Total Billing, dtype: float64

Ventas por categoría

In [5]:
sales_by_category = all_stores.groupby('Categoría del Producto')['Total Billing'].sum()

print("Sales by product category:")
display(sales_by_category)

Sales by product category:

Categoría del Producto
Artículos para el hogar    6.069090e+07
Deportes y diversión       1.506693e+08
Electrodomésticos          1.395147e+09
Electrónicos               1.749039e+09
Instrumentos musicales     3.672769e+08
Juguetes                   7.762570e+07
Libros                     3.975600e+07
Muebles                    7.981114e+08
Name: Total Billing, dtype: float64

calificación promedio de la tienda

In [6]:
average_rating = all_stores['Calificación'].mean()

print(f"Average store rating: {average_rating}")

Average store rating: 4.014520402755696

productos con mayor venta y productos con menos venta

In [7]:
product_sales = all_stores.groupby('Producto')['Total Billing'].sum()

most_sold_products = product_sales.nlargest(5)
least_sold_products = product_sales.nsmallest(5)

print("Top 5 most sold products:")
display(most_sold_products)

print("\nTop 5 least sold products:")
display(least_sold_products)

Top 5 most sold products:

Producto
TV LED UHD 4K       455524500.0
Iphone 15           422445600.0
Refrigerador        405393000.0
Smart TV            305662600.0
Lavadora de ropa    255357300.0
Name: Total Billing, dtype: float64

Top 5 least sold products:

Producto
Cubo mágico 8x8       2942000.0
Cuerda para saltar    3332400.0
Dinosaurio Rex        3370100.0
Ajedrez de madera     5424500.0
Set de vasos          5946200.0
Name: Total Billing, dtype: float64

envio promedio por tienda

In [8]:
average_shipping_cost_by_location = all_stores.groupby('Lugar de Compra')['Costo de envío'].mean()

print("Average shipping cost by store location:")
display(average_shipping_cost_by_location)

Average shipping cost by store location:

Lugar de Compra
Armenia          22867.857143
Barranquilla     22692.258065
Bogotá           24532.082171
Bucaramanga      26790.055249
Cali             26726.812314
Cartagena        22638.429752
Cúcuta           28597.311828
Inírida          30557.142857
Leticia          25317.605634
Manizales        24948.780488
Medellín         25282.022472
Neiva            27710.000000
Pasto            27801.063830
Pereira          23211.411992
Riohacha         24127.607362
Santa Marta      18752.317881
Soacha           34768.421053
Valledupar       22021.428571
Villavicencio    25100.000000
Name: Costo de envío, dtype: float64